@import "~@talentsoft-opensource/hylia/utilities/variables.less";
@import "~@talentsoft-opensource/hylia/atoms/icon.less";

.list-line {
    width: 100%;
    height: 90px;
    padding: 5px 20px;
    display: inline-flex;

    .line-avatar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 10px;

        .avatar-picture {
            width: 100%;
        }
    }

    .line {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        .title {
            color: #333333;
            font-size: 18px;
            line-height: 24px;
        }

        .subtitle {
            color: #337BB8;
            font-size: 14px;
            line-height: 15px;
            margin-top: 2px;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .description {
            width: 220px;
            color: #737373;
            font-size: 12px;
            // line-height: 18px;
            max-height: 33px;
            font-style: italic;
            // margin-bottom: auto;
        }
    }

    .line-detail {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10px;

        .detail {
            height: 14px;	
            width: 14px;
            border-radius: 50%;

            &.green {
                background-color: #308649;
            }

            &.red {
                background-color: #D11548;
            }
        }
    }
}

.list-template ul li:nth-child(even) {
    background-color: #FAFAFA;
}

.list-template ul li:nth-child(odd) {
    background-color: #ffffff;
}